name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Cache Go tools
        uses: actions/cache@v4
        with:
          path: ~/go/bin
          key: go-tools-${{ runner.os }}-${{ hashFiles('Taskfile.yml') }}
          restore-keys: |
            go-tools-${{ runner.os }}-

      - name: Install Task
        uses: arduino/setup-task@v2

      - name: Install tools
        run: task tools

      - name: Run lint
        run: task lint

  test:
    name: Test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Install Task
        uses: arduino/setup-task@v2

      - name: Run tests
        run: task test

  build:
    name: Build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Install Task
        uses: arduino/setup-task@v2

      - name: Build CLI
        run: task build
